<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Radio</title>
	<script src="jspm_packages/system.js"></script>
	<script src="config.js"></script>
	<script type="text/javascript">
		System.import('app.js');
	</script>
</head>

<body>
	<div ng-controller="MainCtrl" layout="column" ng-cloak>
		<md-toolbar md-scroll-shrink>
			<div id="md-toolbar-tools">
				<h2 class="md-flex">
					Radio
				</h2>
			</div>
		</md-toolbar>
		<md-content flex>
			<md-list ng-repeat="channel in channels">
				<md-list-item class="md-3-line">
					<md-button>
						<img ng-src="{{channel.cover}}" alt="{{channel.name}}" class="md-avatar" style="width:64px; height:64px; border-radius=0;">
						<div class="md-list-item-text">
							<h3>{{channel.name}}</h3>
							<p>{{channel.url}}</p>
						</div>
					</md-button>
					<md-divider inset></md-divider>
				</md-list-item>
			</md-list>
		</md-content>
	</div>

</body>

</html>